:root{
    --primary-bg-color:#AD49E1;
    --text-color:#EBD3F8;
    --compnent-color:#7A1CAC;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins" , sans-serif;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:var(--primary-bg-color);

}
.question-layout ul{
    padding: 1rem;
    background-color: rgb(237, 237, 237);
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem
}
.question-layout{
    margin-top: 8rem;
    width: min(700px ,70vw);
    user-select: none;
    padding:2rem;
    border-radius: 10px;
    background-color: white;
}
.question-option-non-active:hover{
   transform: scale(1.02);
   background-color: green;
   
}
.question-option-active:hover{
    background-color: red;
   
}
.question-option-active{
    user-select:none;
    cursor:pointer;
    padding: 6px 7px;
    border-radius: 3px;
    transition: all;
    transition-duration: 200ms;
    background-color: red;
   
}

.question-option-non-active{
    user-select:none;
    cursor:pointer;
    padding: 6px 7px;
    border-radius: 3px;
    background-color: rgb(198, 198, 198);
    transition: all;
    transition-duration: 200ms;
}
.next-btn-visibility-disable{
    background-color: gray;
}