/* reserved key words */

*{
    padding: 0px;
    margin: 0px;
}
.user-name{
    padding: 4px 10px;
    border-radius: 20px;
    background-color: rgb(238, 238, 3);
    color: black;
}
body{
    display: grid;
    height: 100vh;
    gap: 10px;
  
    grid-template-rows: auto 1fr;
}
.user-box{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    padding: 10px 10px;
    width: fit-content;
    box-shadow: 10px 10px 30px rgba(99, 111, 90, 0.444);
}
.test-box{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 5rem;
    padding: 10px;
    

}
.title-highlight{
    padding: 5px 20px ;
    border-radius: 20px;
    background-color: rgb(200, 60, 251);
    color: white;
    margin: 0px 10px;
    box-shadow: 10px 10px 10px rgba(107, 58, 111, 0.205) ;
}
.test-heading{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.test-heading h1{
    font-size:  50px;
    font-weight: 500;
}
.test-heading h2{
    font-size: 25px;
    font-weight: normal;
}

.knowldege{
    font-size:x-large;
}

.test-template{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background-color: rgb(108, 213, 89);
    overflow: hidden;
    padding: 20px 30px;
    border-radius: 20px;
    transition-duration: 200ms;


}
.test-template:hover{
    transform: translateY(-20px);
    transition-duration: 400ms;
}
.topics-python{
  
    list-style: none;
    padding: 10px;
    background-color: rgb(195, 211, 57);
    border-radius: 10px;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.479);
}

.topics-java{
  
    list-style: none;
    padding: 10px;
    background-color: rgb(36, 36, 129);
    
    border-radius: 10px;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.479);
}
.topics-js{
    list-style: none;
    padding: 10px;
    background-color: rgb(189, 187, 60);
    border-radius: 10px;
    box-shadow: 5px 5px  rgba(0, 0, 0, 0.479);
}
.icon-img{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    padding: 4px;
    object-fit: cover;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.319);
}
.template-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.start-btn{
    font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
    border: solid black 2px;
    color: black;

    font-weight: bold;
    background-color: #49E188;
    transition: all;
    transition-duration: 300ms;
    position: relative;
    overflow: hidden;
    transition: all;
    transition-duration: 100ms;




}
.start-btn:hover{
    box-shadow: rgba(87, 33, 142, 0.5) -5px 10px ;
    transform: translate(10px, -5px);
}
.start-btn span{
    position: relative;
    z-index: 30;
}




.splash-1{

    position: absolute;
    display:inline-block;
    height: 100%;
    width: 100%;;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    rotate: 10deg;
    z-index: 20;
    transform: translateX(-100%);
    transition-duration: 600ms;


}

.splash-2{

    position: absolute;
    display:inline-block;
    height: 100%;
    width: 100%;;
    left: 0;
    right: 0;
    top: 0;
    right: 0;
    rotate: 10deg;
    z-index: 20;
    transform: translateX(0%);
    transition-delay: 100ms;
    transition-duration: 500ms;


}
.start-btn:hover .splash-1{
    transform: translateX(0%);
}
.start-btn:hover .splash-2{
    transform: translateX(100%);
}
.splash-2::after{
    height:200%;
    width: 10%;
    position: absolute;
    left: 10px;
    top: -20px;
    display: inline-block;
    background-color: rgb(194, 255, 172);
    content: '';
  }

  .splash-2::before{
      height:200%;
      width: 20%;
      position: absolute;
      left: 10px;
      top: -20px;
      margin-left: 20px;
      display: inline-block;
      background-color: rgb(194, 255, 172);
      content: '';
    }
.splash-1::after{
  height:200%;
  width: 10%;
  position: absolute;
  top: -20px;
  display: inline-block;
  background-color: rgb(194, 255, 172);
  content: '';
}

.splash-1::before{
    height:200%;
    width: 20%;
    position: absolute;
    top: -20px;
    margin-left: 20px;
    display: inline-block;
    background-color: rgb(194, 255, 172);
    content: '';
  }
  .red {
    background-color: rgb(234, 86, 86);
  }
  .blue{
    background-color: rgb(106, 106, 253);
  }


  @media screen and (max-width:1000px) {
    .test-heading h1{
        font-size: 30px;
        text-align: center;
    }
    .test-heading h2{
        font-size: 20px;
        font-weight: normal;
    }
  }
  @media  screen and (max-width:500px) {
    .test-heading h1{
        margin-top: 5rem;
        font-size: 25px;
        text-align: center;
        line-height: 3rem;
    }
    .test-heading h2{
        font-size: 20px;
        font-weight: normal;
    }
  }